@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

.logo{
    margin-left: 40px;
    margin-top: 35px;
    width: 160px;
}

.menu {
    float: right;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
}

nav {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    
}

nav ul li {
    float: left;
    margin-top: 30px;;
}

nav ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 19px;
}

a.block{
    background: #8B7FDF;
    color: white;
    border-radius: 7px;
}

a.unblock{
    color: #8B7FDF;
}

@media screen and (max-width: 700px) {
    .logo{
        margin-left: 170px;
    }
 
    .menu{
        margin-right: 25px;
    }
 
    nav ul li{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .wrapper{
        width: 500px;
        height: 130px;
    }
}

.framec{
    position: absolute;
    /* width: 100%; */
    height: 54vh;
    left: 33px;
    right: 33px;
    top: 130px;
    overflow-y: initial;
    overflow-x: hidden;

    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}
.frame{
    /* Frame 5 */

    position: absolute;
    height: 80vh;
    left: 210px;
    right: 30px;
    top: 100px;
    overflow: hidden;

    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.search{
    /* Group 188 */

    position: absolute;
    width: 238px;
    height: 41px;
    right: 33px;
    /* left: 708px; */
    top: 33px;

    /* Rectangle 512 */

    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;

    /* Cari permasalahanmu */

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: rgba(79, 79, 79, 0.5);
}
.title{
    /* Judul Artikel */

    position: absolute;
    width: 350px;
    height: 43px;
    left: 33px;
    top: 31px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

    color: #7B61FF;
}
.subtitle{
    position: absolute;
    width: 914px;
    height: 32px;
    left: 33px;
    top: 84px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}
.ind{
    position: absolute;
    width: 180px;
    height: 20px;
    left: 30px;
    top: 126px;
    text-align: left;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 23.1429px;
    line-height: 32px;

    color: #4F4F4F;
}
.index1{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 15px;
    top: 159px;
    text-align: left;



    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index2{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 10px;
    top: 182px;
    text-align: left;


    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index3{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 10px;
    top: 205px;
    text-align: left;

    position: absolute;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index4{
    /* underlined text */

    position: absolute;
    width: 200px;
    height: 21px;
    left: 8px;
    top: 228px;
    text-align: left;



    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.bhs{
    /* Index Wiki Bahasa */

    position: absolute;
    width: 180px;
    height: 20px;
    left: 30px;
    top: 265px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 23.1429px;
    line-height: 32px;

    color: #4F4F4F;
}
.bhs1{
/* Index Wiki Bahasa */

    position: absolute;
    /* width: 198px; */
    height: 20px;
    left: 36px;
    top: 302px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.bhs2{
/* Index Wiki Bahasa */

position: absolute;
/* width: 198px; */
height: 20px;
left: 36px;
top: 324px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
background-color: transparent;
border: none;
outline: none;

color: #4F4F4F;
}
.bhs3{
    position: absolute;
    /* width: 198px; */
    height: 20px;
    left: 36px;
    top: 346px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.quest{
    /* Masalah apa yang anda alami? */
    position: relative;
    width: 916px;
    height: 28px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}
.frin{
    /* Rectangle 2 */

    position: relative;
    width: 100%;
    height: 124px;
    
    outline: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.kirim{
    position: relative;
    padding-top: 5px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #FFFFFF;
}
.kotakkirim{
    position: absolute;
    width: 103px;
    height: 35px;
    right: 35px;
    top: 515%;

    background: #8B7FDF;
    border-radius: 6.51161px;
}
.thanks{
    position: relative;
    width: 100%;
    height: 91px;
    top: 200px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #4F4F4F;
}
.thankstoo{
    position: absolute;
    width: 100%;
    height: 91px;
    top: 240px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    text-align: center;

    color: #4F4F4F;
}
.return{
    /* Button */

    position: relative;
    padding-top: 12px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18.9329px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}
.kotakreturn{
    position: absolute;
    width: 120px;
    height: 50px;
    margin-left: 44.8%;
    margin-top: 280px;

    background: #8B7FDF;
    border-radius: 5.7622px;
}
.tbl-cs, .path-cs{
    transition: 0.1s;
    padding: 10px 15px 10px 15px;
    position: fixed;
    border-radius: 35px;
    right: 10vw;
    bottom: 0;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    z-index: 4;
    background-color: white;
}

.tbl-cs:hover .path-cs{
    fill: white;
}

.tbl-cs:hover, .path-cs{
    cursor: pointer;
    background-color:#8B7FDF ;
}