@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
.wrapper {
    width: 90%;
    margin: auto;
    position: relative;
}

.logo{
    margin-left: 40px;
    margin-top: 35px;
    width: 160px;
}

.menu {
    float: right;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
}

nav {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    
}

nav ul li {
    float: left;
    margin-top: 30px;;
}

nav ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 19px;
}

a.block{
    background: #8B7FDF;
    color: white;
    border-radius: 7px;
}

a.unblock{
    color: #8B7FDF;
}

@media screen and (max-width: 700px) {
    .logo{
        margin-left: 170px;
    }
 
    .menu{
        margin-right: 25px;
        margin-top: 20px;
    }
 
    nav ul li{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .wrapper{
        width: 500px;
        height: 100px;
    }
    .frame, .ind, .index1, .index2, .index3, .index4{
        margin-top: 70px;
    }
}
::-webkit-scrollbar {
    width:10px;
    height: 8px;
    color: white;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px white;   
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 50px;
    height: 20px;
}

.tbl-cs, .path-cs{
    transition: 0.1s;
    padding: 10px 15px 10px 15px;
    position: fixed;
    border-radius: 35px;
    right: 10vw;
    bottom: 0;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    z-index: 4;
    background-color: white;
}

.tbl-cs:hover .path-cs{
    fill: white;
}

.tbl-cs:hover, .path-cs{
    cursor: pointer;
    background-color:#8B7FDF ;
}

.ind{
    position: absolute;
    width: 180px;
    height: 20px;
    left: 30px;
    top: 126px;
    text-align: left;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 23.1429px;
    line-height: 32px;

    color: #4F4F4F;
}
.index1{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 15px;
    top: 159px;
    text-align: left;



    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index2{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 10px;
    top: 182px;
    text-align: left;


    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index3{
    /* underlined text */

    position: absolute;
    width: 104px;
    height: 21px;
    left: 10px;
    top: 205px;
    text-align: left;

    position: absolute;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}
.index4{
    /* underlined text */

    position: absolute;
    width: 200px;
    height: 21px;
    left: 8px;
    top: 228px;
    text-align: left;



    /* Index 1 */

    position: absolute;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #4F4F4F;
}

.frame{
    /* Frame 5 */

    position: absolute;
    height: 80vh;
    left: 210px;
    right: 30px;
    top: 100px;
    overflow: hidden;

    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.framec{
    position: absolute;
    height: 62vh;
    left: 33px;
    right: 33px;
    top: 80px;
    overflow-y: initial;
    overflow-x: hidden;

    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.search{
    /* Group 188 */

    position: absolute;
    width: 238px;
    height: 41px;
    right: 33px;
    /* left: 708px; */
    top: 33px;

    /* Rectangle 512 */

    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;


    /* Cari permasalahanmu */

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: rgba(79, 79, 79, 0.5);
}

.title{
    /* Judul Artikel */

    position: absolute;
    width: 350px;
    height: 43px;
    left: 33px;
    top: 31px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;

    color: #7B61FF;
}
.link{
    position: relative;
    width: 95%;
    right:33px;
    left: 33px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;

    color: #000000;
}
.desc{
    position: relative;
    width: 95%;
    right:33px;
    left: 33px;
    top: 10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    color: #4f4f4f;
}

.hype{
    color: #8B7FDF;
}

.searchbox{
    position: relative;
    width: 100%;
    top:30px;
    outline: none;
    border: none;
}
@media screen and (max-width: 800px){
    .search{
        visibility: hidden;
    }
}