@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif !important;
    padding: 0;
    margin: 0;
}
button{
    border: 0.1px solid black !important;
}
button:active{
    background-color:  #6354C8 !important;
}
button::after{
    display: none;
}
/* navbar */
.brand-logo{
    padding-left: 3% !important
}
.nav-wrapper{
    padding-top: 1.7% !important;
    padding-right: 4% !important;
}
.nav-wrapper a:hover{
    background-color: white !important;
}
.side-nav{
   background-color:whitesmoke !important;
}
.textset{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18.8372px;
    color:  #8B7FDF;    
}
.kotak{
    background-color: #8B7FDF;
    color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 6.51161px;
}
.logintitle{
    padding-top: 11%;
}

.lifeisjourney{
    font-family: 'Nunito'!important;
    font-style: normal;
    color: #8B7FDF;
    font-size: 91px;
    padding-left: 7%;
    font-weight: bolder;
    font-weight: 1000;
}
.fybd{
    font-family: 'Nunito'!important;
    margin-top: -20px;
    padding-top: -33px;
    color: #8B7FDF;
    font-size: 35px;
    margin-bottom: 64px;
    padding-left: 7%;
    font-weight: 400;
}
.loginpoto{
    position: absolute;
    left: 0%;
}
.loginpoto img{
    position: absolute;
    top: 0%;
    margin: 0!important;
    padding: 0!important;
}

.menudaftar{
    margin-top: 80px;
    margin-left: 30px;
    width: 390px;
    height: 510px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.7px .4px 6px 1px #000;
    position: relative;
    display: block;
}

.menudaftartitle{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}
.form{
    text-align: center;
}
.input{
    width: 200px;
}
.tombol{
    position: relative;
    background-color: #8B7FDF !important;
    color: white;
    border: .1px solid black;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    left: 25%;
    cursor: pointer;
}

.tombol:active{
    background-color: #6354C8 !important;
}
.textundertombol{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
}

#helper{
    position: fixed;
    bottom: 4%;
    right: 2%; 
    width: 55px;
}

.tbl-cs, .path-cs{
    transition: 0.1s;
    padding: 10px 15px 10px 15px;
    position: fixed;
    border-radius: 35px;
    right: 6vw;
    bottom: 0;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    z-index: 4;
    background-color: white;
    width: 70px;
    height: 70px;
}

.tbl-cs:hover .path-cs{
    fill: white;
}

.tbl-cs:hover, .path-cs{
    cursor: pointer;
    background-color:#8B7FDF ;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #8B7FDF !important;
    box-shadow: 0 1px 0 0 #8B7FDF !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #8B7FDF !important;
    box-shadow: 0 1px 0 0 #8B7FDF !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #8B7FDF !important;
    box-shadow: 0 1px 0 0 #8B7FDF !important;
}
.input-field input[type=number]:focus {
    border-bottom: 1px solid #8B7FDF !important;
    box-shadow: 0 1px 0 0 #8B7FDF !important;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 rgb(255, 0, 0);
}

/*
    masuk.html
*/
.textundertombol2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 100px;
    text-align: center;
}
.lupaPas{
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
} 

/*
    Lupapass_hp.html
*/
.menudaftartitle2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
}
.menudaftar2{
    position: relative;
    width: 390px;
    height: 510px;
    border-radius: 20px;
    border:1px 1px #8B7FDF;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.7px .4px 6px 1px #000;
    display: block;
    margin-top: 7%;
    margin-left: 30%;
    margin-bottom: 7%;
}
.menudaftar2 a {
    text-decoration: underline;
    color: #000;
}
.lupaPas2{
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: left;
}
.tombol2{
    position: relative;
    background-color: #8B7FDF;
    color: white;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    border:.2px solid #000000;
    font-size: 20px;
    display: inline-block;
    left: 25%;
    margin-top: 120px;
    cursor: pointer;
}
.tombol2:active{
    background-color: #6354C8;
}


.textundertombol3{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 30px;
    text-align: center;
}