@media screen and (max-width: 800px) {
    .menudaftar2{
        right: 20% !important;
        margin-top: 50% !important;
    }
    .tombol2{
        margin-left: 7%;
    }
    .loginpoto img{
        object-fit: cover;
        position: relative;
        padding-top: 290px !important;
        /* bottom: 1000% !important; */
        margin-bottom: 0%;
        width: 480px;
        /* height: 900px !important; */
    }
    .menudaftar{
        margin-top: 0px !important;
    }
    .lifeisjourney{
        padding-right: 5%;
        text-align: center;
    }
    .tombol{
        margin-left: 6% !important;
    }
}