@media screen and (max-width: 800px) {
    .kontenKiri img{
        margin-top: 5%;
        left: 5% !important;
    }
    .kotakContent:nth-child(4){
        margin-top: 2%;
    }
    .textWisata{
        width: 90%;
    }
}