@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}
.colorblocked{
    color: #FFFFFF
}
.colorunblocked{
    color: #7969E8;    
}
/* navbar */
.navbar{
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 0px;
}
/* tombol nya navbar */
.logo{
    position: absolute;
    width: 197px;
    height: 40px;
    left: 48px;
    top: 27px;
}
.menu:hover,.tentang:hover,.bantuan:hover,.akun:hover{
    border: none;
    outline: none;
}
.menu{
    position: absolute;
    width: 120.7px;
    height: 26.05px;
    /* left: 785.26px; */
    right: 320px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #FFFFFF;    
}
.kotaknya{
    position: absolute;
    width: 135.12px;
    height: 35px;
    /* left: 773.86px; */
    right: 340px;
    top: 32px;
    
    background: #8B7FDF;
    border-radius: 6.51161px;
}
.bantuan{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 1055.49px; */
    right: 110px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #7969E8;
}
.tentang{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 945.63px; */
    right: 220px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #7969E8;    
}
.akun{
    position: absolute;
    width: 80.7px;
    height: 26.05px;
    /* left: 1158.98px; */
    right: 30px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #7969E8;
}

/* floating cust service */
.floatcs{
    position: absolute;
    width: 571px;
    height: 654px;
    left: 642px;
    top: 1px;    
}

/* logo navbar */
.logo{
    position: absolute;
    width: 197px;
    height: 40px;
    left: 48px;
    top: 27px;
    
    background: url(logo.png);
}

/* bottom bar */
.bbar{
    position: absolute;
    width: 1280px;
    height: 356px;
    left: 0px;
    top: 1465px;
}

/* Placeholder buat scrollable tile kiri kanan */
.horizonScroll{
    position: absolute;
    width: 1230px;
    height: 257px;
    left: 50px;
    top: 428px;
    overflow-x: scroll;    
}

/* Artikel */
.artikel{
    position: absolute;
    width: 1280px;
    height: 483px;
    left: 0px;
    top: 859px;
}

/* gambar di dalem artikel */
.gartikel{
    position: absolute;
    width: 414.01px;
    height: 393px;
    left: 714px;
    top: 904px;
}

/* Tombol dalam banner Artikel */
.bartikel{
    position: absolute;
    width: 246px;
    height: 43px;
    left: 142px;
    top: 1160px;
}

/* DISKUSI PELANCONG */
.diskpel{
    position: absolute;
    visibility: hidden;
    width: nanpx;
    height: nanpx;
    left: 0px;
    top: 873px;
}
/* button{1,2,3,4} dibawah search bar */
.b1{
    position: absolute;
    width: 129px;
    height: 36.24px;
    left: 365px;
    top: 379px;
    
    background: #8B7FDF;
    border-radius: 7.24719px;
}
.b2{
    position: absolute;
    width: 129px;
    height: 36.24px;
    left: 505px;
    top: 379px;
    
    border: 0.724719px solid #6354C8;
    box-sizing: border-box;
    border-radius: 7.24719px;
}
.b3{
    position: absolute;
    width: 129px;
    height: 36.24px;
    left: 645px;
    top: 379px;

    border: 0.724719px solid #6354C8;
    box-sizing: border-box;
    border-radius: 7.24719px;
}
.b4{
    position: absolute;
    width: 129px;
    height: 36.24px;
    left: 785px;
    top: 379px;

    border: 0.724719px solid #6354C8;
    box-sizing: border-box;
    border-radius: 7.24719px;
}

/* title (yang "temukan destinasi terbaikmu....)*/
.titles{
    position: absolute;
    width: 100%;
    /* height: 46px; */
    /* left: 191px; */
    top: 165px;
    text-align: center;
   
    font-weight: bold;
    font-size: 39.4286px;
    line-height: 54px;

    color: #FFFFFF;
}

/* search bar */
.search{
    position: absolute;
    width: 50%;
    height: 54px;
    left: 25%;
    top: 260px;
    border-radius: 10px;
}

/* banner */
.banner{
    position: absolute;
    width: 100%;
    height: 219px;
    left: 0px;
    top: 85px;
    
    filter: drop-shadow(0px 4px 22px #BEB6F1);
}
/* banner shadow */
.banners{
    position: absolute;
    width: 1280px;
    height: 219px;
    left: 0px;
    top: 108px;
    
    border-radius: 17px;
}