@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
}
.nav-wrapper{
    border-bottom: 0!;
}
.textset{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18.8372px;
    color:  #7969E8;    
}
.kotak{
    border:1px 1px #7969E8;
    background-color: #7969E8;
    color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 6.51161px;
}
.logintitle{
    padding-top: 11%;
}
.lifeisjourney{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: #7969E8;
    font-size: 91px;
    padding-left: 7%;
    font-weight: bolder;
    font-weight: 900;
    text-shadow: 1px 2px 1px #7969E8 !important;
}
.fybd{
    margin-top: -20px;
    padding-top: -33px;
    color: #7969E8;
    font-size: 35px;
    margin-bottom: 64px;
    padding-left: 7%;
    font-weight: 400;
    text-shadow: .5px .5px .5px #000000 !important;
}
.loginpoto{
    position: absolute;
    float: left;
    left: 0;
}
.menudaftar{
    margin-top: 80px;
    margin-left: 30px;
    width: 390px;
    height: 510px;
    border-radius: 20px;
    border:1px 1px #7969E8;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.7px .4px 6px 1px #000;
    position: relative;
    display: block;
}

.menudaftartitle{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}
.form{
    text-align: center;
}
.input{
    width: 200px;
}
.tombol{
    position: relative;
    background-color: #7969E8;
    color: white;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    border:1px 1px #7969E8;
    font-size: 20px;
    display: inline-block;
    left: 25%;
}
.textundertombol{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
}

#helper{
    position: fixed;
    bottom: 4%;
    right: 2%; 
    width: 55px;
}

/*
    masuk.html
*/
.textundertombol2{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 100px;
    text-align: center;
}
.lupaPas{
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: center;
}

/*
    Lupapass_hp.html
*/
.menudaftartitle2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 40px;
}
.menudaftar2{
    position: relative;
    width: 390px;
    height: 510px;
    border-radius: 20px;
    border:1px 1px #7969E8;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.7px .4px 6px 1px #000;
    display: block;
    margin-top: 7%;
    margin-left: 30%;
    margin-bottom: 7%;
}
.menudaftar2 a {
    text-decoration: underline;
    color: #000;
}
.lupaPas2{
    margin-top: 13px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 10px;
    text-align: left;
}
.tombol2{
    position: relative;
    background-color: #7969E8;
    color: white;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    border:1px 1px #7969E8;
    font-size: 20px;
    display: inline-block;
    left: 28%;
    margin-top: 120px;
}

.textundertombol3{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 30px;
    text-align: center;
}