/* contoh import */
/*@import url("./filelain.css");*/
/* './' : file di folder ini */
/* 'namafile.css' buat filenya, semua ditaruh di folder resource */

h1 {
    font-family: "Comic Sans MS";
    font-size: "50px";
    color: "magenta";
}