@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.colorblocked{
    color: #FFFFFF
}
.colorunblocked{
    color: #8B7FDF;    
}
/* navbar */
.navbar{
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 0px;
}
/* tombol nya navbar */
.logo{
    position: absolute;
    width: 197px;
    height: 40px;
    left: 48px;
    top: 27px;

    background: url("./logo.png");
}
.menu:hover,.tentang:hover,.bantuan:hover,.akun:hover{
    border: none;
    outline: none;
}
.menu{
    padding-top: 5px;
    position: absolute;
    width: 120.7px;
    height: 26.05px;
    /* left: 785.26px; */
    right: 345px;
    top: 31px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #8B7FDF;    
}
.kotaknya{
    position: absolute;
    width: 135.12px;
    height: 35px;
    /* left: 773.86px; */
    right: 340px;
    top: 29px;
    padding-top: 7px;
    
    background: #8B7FDF;
    border-radius: 6.51161px;
}
.bantuan{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 1055.49px; */
    right: 110px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #8B7FDF;
}
.tentang{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 945.63px; */
    right: 220px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #8B7FDF;    
}
.akun{
    position: absolute;
    width: 80.7px;
    height: 26.05px;
    /* left: 1158.98px; */
    right: 30px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #8B7FDF;
}

.tbl-cs, .path-cs{
    transition: 0.1s;
    padding: 10px 15px 10px 15px;
    position: fixed;
    border-radius: 35px;
    right: 10vw;
    bottom: 0;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    z-index: 4;
    background-color: white;
}

.tbl-cs:hover .path-cs{
    fill: white;
}

.tbl-cs:hover, .path-cs{
    cursor: pointer;
    background-color:#8B7FDF ;
}

.wrapper-isi{
    margin-top: 15vh;
    margin-left: 12vw;
    margin-right: 13vw;
    /* border-style: solid; */
}

.wrapper-isi .judul-page{
    font-size: 4vw;
    font-weight: bold;
    color: #8B7FDF ;
}

.header img{
    margin-top: 3vh;
    width: 40vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 1vw;
}

.header .judul-artikel{
    margin-top: 2vh;
    font-size: 30px;
    font-weight: bold;
    width: 35vw;
}

.header .tanggal-artikel{
    margin-top: 2vh;
    font-weight: 600;
}

.wrapper-kontak{
    width: auto;
    height: 356px;
    position: relative;
    margin-top: 50px;
    background-color: #F6F6F6;
}

.medsos{
    position: absolute;
    margin-top: 210px;
    margin-left:120px ;
    display: flex;
}

.medsos img{
    cursor: pointer;
    margin-right: 15px;
}

.trademark{
    position: absolute;
    font-weight: 300;
    color: rgb(189, 189, 189);
    font-size: 14px;
    text-align: center;
    object-position: center;
    bottom: 0;
    margin-bottom: 2vh;
    margin-left: 47vw;
}