@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*
.logo{
    padding: 30px 0px 0px 0px;  
    transition: transform 1s;
}

* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.wrapper {
    width: 1400px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.menu {
    float: right;
}


nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 2;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    padding-top: 25px;
}

nav ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
    transition: transform 1.0s;
    cursor: pointer;

}
*/
* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.colorblocked{
    color: #FFFFFF
}
.colorunblocked{
    color: #7969E8;    
}
/* navbar */
.navbar{
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 0px;
}
/* tombol nya navbar */
.logo{
    position: absolute;
    width: 197px;
    height: 40px;
    left: 48px;
    top: 27px;

    background: url("./logo.png");
}
.menu:hover,.tentang:hover,.bantuan:hover,.akun:hover{
    border: none;
    outline: none;
}
.menu{
    padding-top: 5px;
    position: absolute;
    width: 120.7px;
    height: 26.05px;
    /* left: 785.26px; */
    right: 320px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #FFFFFF;    
}
.kotaknya{
    position: absolute;
    width: 135.12px;
    height: 35px;
    /* left: 773.86px; */
    right: 340px;
    top: 32px;
    
    background: #8B7FDF;
    border-radius: 6.51161px;
}
.bantuan{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 1055.49px; */
    right: 110px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #7969E8;
}
.tentang{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 945.63px; */
    right: 220px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #7969E8;    
}
.akun{
    position: absolute;
    width: 80.7px;
    height: 26.05px;
    /* left: 1158.98px; */
    right: 30px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #7969E8;
}

.menuUtama{
    margin-top: 20;
    border-radius: 5px;
    background: #8B7FDF;
    color: white;
    z-index: -1;
}

.container-gambar img{
    margin-top: 80px;
    padding: 0px 0px 0px 0px; 
    width: 1526px;
}

.slogan{
    position: absolute;
width: 969px;
height: 46px;
left: 320px;
top: 210px;
font-size: 40px;
color: white;
}

.search{
    position: absolute;
    margin-left: 550px;
    margin-top: 340px;
    width: 450px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
    background-image: url('../resource/ressourceIhsan/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: Nunito;
}

.filter ul li {
    float: left;
}

.filter ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.terdekat{
    border-style: solid;
    border-color: #8B7FDF;
    border-width: 2px;
    color: white;
    border-radius: 7px;
}

.filter ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.filter ul li a:hover {
    text-decoration:underline;
}

.filter{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    
}

.wrapper-wisata{
    padding: 10px 15px 10px 15px ;
    width: 1480px;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}

.card{
    transition: 0.5s;
    transform: scale(1);
    display: inline-block;
    margin-left: 10px;
    width: 300px;
    height: 200px;
    padding: 10px 10px 10px 10px ;
    border-style: solid;
    border-width: 2px;
    border-color:#8B7FD0 ;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    cursor: pointer;
    transform: scale(1.03);
}


.header-card img{
    border-radius: 10px;
    width: 300px;
    height: 120px;
    object-fit: cover;
    object-position: 0 -30px; 
    
}

.body-card{
    padding-left: 3px;
    height: 70px;
    white-space: nowrap;
}


.jarak{
    position: absolute;
    margin-left: 250px;
}

.detail{
    display: flex ;
    right: 0;
}

::-webkit-scrollbar {
    width:10px;
    height: 8px;
    color: white;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px white;   
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 50px;
    height: 20px;
}

.wrapper-artikel{
    background-color: #8B7FDF;
    position: relative;
    margin-top: 200px;
    width: auto;
    height: 500px;
}

.body-artikel{
    display: flex;
}

.tulisan{
    position: absolute;
    margin-top: 120px;
    color: white;
    margin-left: 200px;
    z-index: 1;
}

.judul{
    font-size: 59px;
    font-weight: 800;
}

.masjid{
    position: absolute;
    width: 1526px; height: 500px; object-fit: cover  ;
    opacity: 0.25;
    z-index: -0;
}

.gambar-artikel{
    position: relative;
    margin-right: 200px;
    margin-top:50px;
    right: 0;
    margin-left: 900px;
    z-index: 1;
}

.button {
    font-weight: 600;
    margin-top: 50px;
    border:none;
    outline: none;
    width: 246px;
    height: 43px;
    background-color: white;
    border-radius: 6px;
    color: #8B7FDF;
    padding: 11px 32px;
    font-size: 16px;
    z-index: 1;
    transition: 0.2s;
  }

.button:hover{
    color: white;
    background-color: #6354C8;
    cursor: pointer;
}

.wrapper-kontak{
    width: auto;
    height: 356px;
    position: relative;
    margin-top: 200px;
    background-color: #F6F6F6;
}

.medsos{
    position: absolute;
    margin-top: 210px;
    margin-left:120px ;
    display: flex;
}

.medsos img{
    cursor: pointer;
    margin-right: 15px;
}

