* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.colorblocked{
    color: #FFFFFF
}
.colorunblocked{
    color: #8B7FDF;    
}
/* navbar */
.navbar{
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 0px;
}
/* tombol nya navbar */
.logo{
    position: absolute;
    width: 197px;
    height: 40px;
    left: 48px;
    top: 27px;

    background: url("./logo.png");
}
.menu:hover,.tentang:hover,.bantuan:hover,.akun:hover{
    border: none;
    outline: none;
}
.menu{
    padding-top: 5px;
    position: absolute;
    width: 120.7px;
    height: 26.05px;
    /* left: 785.26px; */
    right: 320px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #FFFFFF;    
}
.kotaknya{
    position: absolute;
    width: 135.12px;
    height: 35px;
    /* left: 773.86px; */
    right: 340px;
    top: 32px;
    
    background: #8B7FDF;
    border-radius: 6.51161px;
}
.bantuan{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 1055.49px; */
    right: 110px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #8B7FDF;
}
.tentang{
    position: absolute;
    width: 110.7px;
    height: 26.05px;
    /* left: 945.63px; */
    right: 220px;
    top: 36.07px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    
    color: #8B7FDF;    
}
.akun{
    position: absolute;
    width: 80.7px;
    height: 26.05px;
    /* left: 1158.98px; */
    right: 30px;
    top: 36.07px;
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    color: #8B7FDF;
}

.search{
    position: absolute;
    left: 18.7vw;
    right: 50vw;
    top: 141px;
    width: 948px;
    border: 2px solid gainsboro;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('../resource/ressourceIhsan/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: Nunito;
}

.search:focus, .search:active{
    outline: none;
    border: 2px solid #8B7FDF !important;
}

.wrapper-filter{
    padding-left: 18.8vw;
}

.filter ul li {
    float: left;
}

.filter ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.terdekat{
    border-style: solid;
    border-color: #8B7FDF;
    border-width: 2px;
    color: white;
    border-radius: 7px;
}

.filter ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.filter ul li a:hover {
    text-decoration:underline;
}

.filter{
    
    width: 100%;
    margin: auto;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky; 
    margin-top: 220px;
    
}

.wrapper-wisata{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 18vw;
    width: 1200px;
    position: relative;
}

.card{
    transition: 0.5s;
    transform: scale(1);
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 300px;
    height: 200px;
    padding: 10px 10px 10px 10px ;
    border-style: solid;
    border-width: 2px;
    border-color:#8B7FD0 ;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    cursor: pointer;
    transform: scale(1.03);
}


.header-card img{
    border-radius: 10px;
    width: 300px;
    height: 120px;
    object-fit: cover;
    object-position: 0 -30px; 
    
}

.body-card{
    padding-left: 3px;
    height: 70px;
    white-space: nowrap;
}


.jarak{
    position: absolute;
    margin-left: 250px;
}

.detail{
    display: flex ;
    right: 0;
}
