@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-weight: bold; */
}

/* ------Navbar baru mulai dari sini------- */
.wrapper {
    width: 1400px;
    margin: auto;
    position: relative;
}

.logo{
    /* transform: scale(1)rotate(90deg); */
    margin-left: 40px;
    margin-top: 35px;
    /* transition: transform 1s; */
    width: 160px;
}

.menu {
    float: right;
}

nav {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    /* position: sticky;
    position: -webkit-sticky;  */
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    /* border-style: solid; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav ul li {
    float: left;
    margin-top: 30px;;
    /* border-style: solid; */
}

nav ul li a {
    color: #8B7FDF;
    font-weight:bold;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 19px;
}

a.block{
    background: #8B7FDF;
    color: white;
    border-radius: 7px;
}

/* ------Navbar baru sampai sini sini------- */

.tbl-cs, .path-cs{
    transition: 0.1s;
    padding: 10px 15px 10px 15px;
    position: fixed;
    border-radius: 35px;
    right: 10vw;
    bottom: 0;
    margin-bottom: 60px;
    box-shadow: 0px 0px 10px 0.5px #D6D4FF;
    z-index: 4;
    background-color: white;
}

.tbl-cs:hover .path-cs{
    fill: white;
}

.tbl-cs:hover, .path-cs{
    cursor: pointer;
    background-color:#8B7FDF ;
}

.wrapper-latar{
    margin-top: 14.5vh;
    display: flex;
    background-color: #F6F6F6;
}

.wrapper-latar img{
    width: 25vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 19.5vw;
}

.tulisan-latar{
    width: 25vw;
    height: 25vh;
    text-align: justify;
    margin-top: 80px;
    margin-left: 9vw;
    color: #2b2b2b;
}

.tulisan-latar p:first-child{
    font-size: 2.5vw;
    font-weight: 800;
}

.tulisan-latar p:nth-child(2){
    font-weight: 500;
    font-size: 1vw;
}

.wrapper-tujuan{
    margin-top: 150px;
    display: flex;
    padding: 50px 50px 50px 50px;
    background-color: #8B7FDF ;
}

.wrapper-tujuan img{
    width: 25vw;
    background-color: white;
    border-radius: 1vw;
    padding: 2vw 3vw 2vw 3vw;
    margin-left: 2vw;
    object-fit:contain;
}

.tulisan-tujuan{
    color: white;
    text-align: right;
    width: 30vw;
    margin-left: 20vw;
}

.tulisan-tujuan p:first-child{
    font-size: 4vw;
    font-weight: 800;
}

.tulisan-tujuan p:nth-child(2){
    font-weight: 500;
    font-size: 1vw;
}

.wrapper-kontak{
    width: auto;
    height: 356px;
    position: relative;
    margin-top: 100px;
    background-color: #F6F6F6;
}

.kiri{
    position: absolute; margin-left: 10vw; margin-top: 60px; color: #8B7FDF;
}

.medsos{
    position: absolute;
    margin-top: 8vh;
    display: flex;
    gap: 1.5vw;
}

.peta{
    position: absolute; right: 0; margin-top: 65px; margin-right: 130px; cursor: pointer;
}

.medsos img{
    cursor: pointer;
}

.trademark{
    /* position: absolute; */
    background-color:#F6F6F6 ;
    font-weight: 300;
    color: rgb(189, 189, 189);
    font-size: 14px;
    text-align: center;
    bottom: 0;
    padding-bottom: 3vh;
}

/* Ini responsif navbar */

@media screen and (max-width: 800px) {
    .logo{
        margin-left: 170px;
    }
 
    .menu{
        margin-right: 25px;
    }
 
    nav ul li{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .wrapper{
        width: 500px;
    }
}
/* Ini responsif navbar */

@media screen and (max-width: 800px) {
    .wrapper-latar{
        margin-top: 30.5vh;
        display: flex;
        background-color: #F6F6F6;
    }

    .wrapper-latar img{
        width: 40%;
        margin-left: 20px;
    }

    .tulisan-latar{
        margin-top: 9.5vh;
        /* border-style: solid; */
        width: 40vw;
    }

    .tulisan-latar p:first-child{
        font-size: 5vw;
        font-weight: 800;
    }
    
    .tulisan-latar p:nth-child(2){
        font-weight: 500;
        font-size: 2vw;
    }

    .wrapper-tujuan{
        padding: 50px 10px 50px 10px;
        margin-top: 100px;
    }

    .wrapper-tujuan img{
        width: 35vw;
        background-color: white;
        border-radius: 1vw;
        padding: 2vw 3vw 2vw 3vw;
        margin-left: 0.3vw;
        object-fit:contain;
    }

    .tulisan-tujuan{
        color: white;
        text-align: right;
        width: 50vw;
        margin-left: 5vw;
        /* border-style: solid; */
    }
    
    .tulisan-tujuan p:first-child{
        font-size: 6vw;
        font-weight: 800;
    }
    
    .tulisan-tujuan p:nth-child(2){
        font-weight: 500;
        font-size: 1.7vw;
    }

    .peta{
        width: 50vw;
        margin-right: 20px;
    }

    .kiri{
        margin-left: 20px;
    }

    .medsos img{
        cursor: pointer;
        width: 45px;
    }

    .medsos{
        margin-top: 30px;
    }


}

