@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif !important;
    padding: 0;
    margin: 0;
}

/* navbar */
.brand-logo{
    padding-left: 3% !important;
    padding-top: .7% !important;
}
.nav-wrapper a:hover{
    background-color: white !important;
}

.textset{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18.8372px;
    color:  #8B7FDF;    
}
.kotak{
    background-color: #8B7FDF;
    color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 6.51161px;
}

.sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    left: 0px;
    top: 0px;
}

.account{
    position: absolute;
    width: 210px;
    height: 50px;
    left: 45px;
    top: 125px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    
    color: #FFFFFF;    
}

.history{
    position: absolute;
    width: 210px;
    height: 50px;
    left: 45px;
    top: 200px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    
    color: #8B7FDF;    
}

.wishlist{
    position: absolute;
    width: 210px;
    height: 50px;
    left: 45px;
    top: 275px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    
    color: #8B7FDF;    
}

.logout{
    position: absolute;
    width: 210px;
    height: 50px;
    left: 45px;
    top: 350px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    
    color: #CE1B1B;    
}

.foto{
    position: absolute;
    left: 400px;
    top: 125px;
}

.gantifoto{
    position: absolute;
    left: 485px;
    top: 210px;
}

.gopay{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 600px;
    border-radius: 10px;
    top: 137.5px;
    background-color: #8B7FDF;
}

.saldo{
    position: absolute;
    left: 20px;
    bottom: 20px;
    
    font-weight: 600;
    font-size: 18.8372px;
    line-height: 26px;
    text-align: left;
    vertical-align: bottom;
    color: #FFFFFF;    
}

img{
    border-radius: 10%;
}
